<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<title>Ласкаво просимо</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
</head>

<body>

	<nav>
		<ul class="topmenu">
			<li><a class="down">RSA</a>
				<ul class="submenu">
					<li><a href="{% url 'RSA:RSA' %}">Про RSA</a></li>
					<li><a href="{% url 'RSA:instructions' %}">Інструкції</a></li>
					<li><a class="right">Шифрування</a>
						<ul class="submenu">
							<li><a href="{% url 'RSA:encrypt' %}">Текст</a></li>
							<li><a href="{% url 'RSA:encrypt_file' %}">Файл</a></li>
						</ul>
					</li>
					<li><a class="right">Розшифрування</a>
						<ul class="submenu">
							<li><a href="{% url 'RSA:decrypt' %}">Текст</a></li>
							<li><a href="{% url 'RSA:decrypt_file' %}">Файл</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a>ЕЦП</a></li>
			<li><a>Ель-Гамаля</a></li>
		</ul>
	</nav>

	<br><br><br><br>
	
	<div class="block">На сьогодні в інформаційному просторі швидкими 
	темпами впроваджуються новітні досягнення комп'ютерних і 
	телекомунікаційних технологій. Комп'ютерні cистеми активно 
	впроваджуються у фінансові, промислові, торгові і соціальні сфери. 
	Внаслідок цього різко зріс інтерес широкого кола користувачів до 
	проблем захисту інформації. Захист інформації - це сукупність 
	організаційно-технічних заходів і правових норм для попередження 
	заподіяння збитку інтересам власника інформації. В останні роки з 
	розвитком комерційної і підприємницької діяльності збільшилося 
	число спроб несанкціонованого доступу (НСД) до конфіденційної 
	інформації.</div>

	<div class="block">Серед всього спектру методів захисту даних 
	від небажаного доступу особливе місце займають криптографічні 
	методи. Криптографія - наука про математичні методи забезпечення 
	конфіденційності і автентичності інформації. Для сучасної 
	криптографії характерне використання відкритих алгоритмів 
	шифрування, що припускають використання обчислювальних засобів.</div>

	<div class="block">Криптографічний захист інформації – вид захисту 
	інформації, що реалізується шляхом перетворення інформації з 
	використанням спеціальних (ключових) даних з метою приховування/відновлення 
	змісту інформації, підтвердження її справжності, цілісності,
	авторства тощо.</div>
	
	<br><br>

</body>

</html>