<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<title>Інструкції</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
</head>

<body>

	<a href="{% url 'RSA:home' %}" class="new"><< На головну</a>
	<nav>
		<ul class="topmenu">
			<li><a href="{% url 'RSA:RSA' %}">Про RSA</a></li>
			<li><a href="{% url 'RSA:instructions' %}">Інструкції</a></li>
			<li><a class="down">Шифрування</a>
				<ul class="submenu">
					<li><a href="{% url 'RSA:encrypt' %}">Текст</a></li>
					<li><a href="{% url 'RSA:encrypt_file' %}">Файл</a></li>
				</ul>
			</li>
			<li><a class="down">Розшифрування</a>
				<ul class="submenu">
					<li><a href="{% url 'RSA:decrypt' %}">Текст</a></li>
					<li><a href="{% url 'RSA:decrypt_file' %}">Файл</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<br><br><br><br><br>

	<div class="block">Алгоритм RSA складається з 4 етапів: генерації 
	ключів, шифрування, розшифрування та розповсюдження ключів.
	Алгоритм використовує два ключі — відкритий (public) і секретний 
	(private), разом відкритий і відповідний йому секретний ключі 
	утворюють пару ключів (keypair). Відкритий ключ не потрібно 
	зберігати в таємниці, він використовується для шифрування даних. 
	Якщо повідомлення було зашифровано відкритим ключем, то розшифрувати 
	його можна тільки відповідним секретним ключем.</div>
	
	<p align="center">Шифрування</p>
		
	<div class="block">Для шифрування Вам потрібно обрати розмір ключа: 
	8, 16, 32 або 64 біт. Чим більший розмір – тим більшими будуть 
	згенеровані значення і тим складнішим і довшим буде злам для 
	зловмисників, але можливо і на процес зашифрування і розшифрування 
	витратиться більше часу. Даний веб-ресурс дозволяє зашифрувати як 
	і текст, який вводиться у відповідне поле, так і файл - який Ви 
	можете завантажити на сайт. В залежності від того, який розмір ключа 
	Ви обрали, сервер згенерує потрібні для шифрування и розшифрування 
	змінні. Натиснувши кнопку «Зашифрувати», зачекайте, поки сервер 
	зашифрує дані. Після завершення шифрування на Вашому екрані 
	з'явиться вже зашифрований текст, з можливістю скачати його файлом 
	.doc, та потрібні для розшифрування змінні. Закритий ключ ніколи і 
	нікому не повідомляйте, задля зменшення ймовірності розкриття Ваших 
	даних.</div>
	
	<div class="block">Також Ви можете зашифрувати дані, якщо вже маєте
	в наявності відповідні свої ключі.</div>
		
	<p align="center">Розшифрування</p>
	
	<div class="block">Для розшифрування Вам потрібно ввести передані 
	іншим абонентом дані, тобто ввести значення секретного ключа і 
	значення модуля. Даний веб-ресурс дозволяє розшифрувати як 
	і текст, який вводиться у відповідне поле, так і файл - який Ви 
	можете завантажити на сайт. Натиснувши кнопку «Розшифрувати», 
	зачекайте, поки сервер розшифрує дані. Після завершення розшифрування 
	на Вашому екрані з'явиться вже розшифрований текст, з можливістю 
	скачати його файлом .doc</div>
	
	<br><br>

</body>

</html>