<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="UTF-8">
	<title>Про RSA</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
</head>

<body>

	<a href="{% url 'RSA:home' %}" class="new"><< На головну</a>
	<nav>
		<ul class="topmenu">
			<li><a href="{% url 'RSA:RSA' %}">Про RSA</a></li>
			<li><a href="{% url 'RSA:instructions' %}">Інструкції</a></li>
			<li><a class="down">Шифрування</a>
				<ul class="submenu">
					<li><a href="{% url 'RSA:encrypt' %}">Текст</a></li>
					<li><a href="{% url 'RSA:encrypt_file' %}">Файл</a></li>
				</ul>
			</li>
			<li><a class="down">Розшифрування</a>
				<ul class="submenu">
					<li><a href="{% url 'RSA:decrypt' %}">Текст</a></li>
					<li><a href="{% url 'RSA:decrypt_file' %}">Файл</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<br><br><br><br>
	
	<p align="center">Історія</p>
	
	<div class="block">Алгоритм RSA було запропоновано в 1977 році 
	трьома авторами: Рональдом Райвестом (Rivest), Аді Шаміром 
	(Shamir) та Леонардом Адлеманом (Adleman) з Массачусетського 
	технологічного інституту (MIT). Алгоритм названо за першими 
	буквами прізвищ його авторів. Алгоритм RSA став першим 
	повноцінним алгоритмом з відкритим ключем, який може працювати 
	як у режимі шифрування даних, так і в режимі електронного 
	цифрового підпису. Британський математик Кліфорд Кокс, що 
	працював в центрі урядового зв'язку (GCHQ) Великої Британії, 
	описав аналогічну систему в 1973 році у внутрішніх документах 
	центру, але ця робота не була розкрита до 1997 року, тож Райвест, 
	Шамір і Адлеман розробили RSA незалежно від роботи Кокса.</div>

	<p align="center">Опис алгоритму</p>
	
	<div class="block">Алгоритм RSA складається з 4 етапів: 
	генерації ключів, шифрування, розшифрування та розповсюдження 
	ключів. Безпека алгоритму RSA побудована на принципі складності 
	факторизації великих цілих чисел та складності обчислення 
	дискретних алгоритмів. Алгоритм використовує два ключі — відкритий 
	(public) і секретний (private), разом відкритий і відповідний 
	йому секретний ключі утворюють пару ключів (keypair). Відкритий 
	ключ не потрібно зберігати в таємниці, він використовується для 
	шифрування даних. Якщо повідомлення було зашифровано відкритим 
	ключем, то розшифрувати його можна тільки відповідним секретним 
	ключем.</div>

	<br><br>

</body>

</html>